.hero {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
    url(../figures/fundo.avif);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 5px solid #d2b48c;
}

.hero h1 {
    font-size: 2.5rem;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid #d2b48c;
}

.container-main {
    max-width: 900px;
    margin: 50px auto;
    padding: 0 20px;
}

.content-box {
    background-color: #1e1e1e;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    border: 1px solid #333;
}

h2 {
    color: #d2b48c; 
    margin-bottom: 25px;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.texto-projeto {
    font-size: 1.15rem;
    text-align: justify;
    color: #cccccc;
}

.destaque {
    color: #d2b48c;
    font-weight: bold;
}